body {
  box-sizing: border-box;
  margin: 0;
  background: rgb(158,198,253);
  background: linear-gradient(135deg, rgba(158,198,253,1) 0%, rgba(124,168,231,1) 100%);
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  min-height:1vh;
}
body * {box-sizing: border-box;}